---
- name: Create Monitoring Namespace
  kubernetes.core.k8s:
    name: monitoring
    api_version: v1
    kind: Namespace
    state: present

- name: Add Prometheus Community Helm Repo
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: "https://prometheus-community.github.io/helm-charts"

- name: Deploy Prometheus Stack (Prometheus + Grafana)
  kubernetes.core.helm:
    name: monitoring-stack
    chart_ref: prometheus-community/kube-prometheus-stack
    release_namespace: monitoring
    create_namespace: false
    version: "56.6.2" # تثبيت النسخة لضمان الاستقرار
    values:
      grafana:
        service:
          type: LoadBalancer # عشان تفتحي Grafana من المتصفح بسهولة
        adminPassword: "admin" # (للتسهيل في مشروع التخرج، لكن في الإنتاج بنستخدم Secrets)