admissionController:
  replicas: {{ kyverno_replicas }}
backgroundController:
  replicas: {{ kyverno_replicas }}
cleanupController:
  replicas: {{ kyverno_replicas }}
reportsController:
  replicas: {{ kyverno_replicas }}
