- name: Configure EKS Cluster
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - group_vars/all.yaml

  pre_tasks:
    - name: Update kubeconfig
      ansible.builtin.shell:
        cmd: aws eks update-kubeconfig --region {{ aws_region }} --name {{ eks_cluster_name }}
      changed_when: false

  roles:
    - role: argocd
      tags: argocd
    - role: monitoring
      tags: monitoring
    - role: kyverno
      tags: kyverno
