- name: Create ArgoCD namespace
  kubernetes.core.k8s:
    name: argocd
    api_version: v1
    kind: Namespace
    state: present

- name: Add ArgoCD Helm repository
  kubernetes.core.helm_repository:
    name: argo
    repo_url: "https://argoproj.github.io/argo-helm"
    state: present

- name: Deploy ArgoCD
  kubernetes.core.helm:
    name: argocd
    chart_ref: argo/argo-cd
    release_namespace: argocd
    create_namespace: false
    chart_version: "{{ argocd_chart_version }}"
    values: "{{ argocd_helm_values | from_yaml }}"
  
- name: Create Ingress for ArgoCD Server
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'roles/argocd/templates/ingress.yaml.j2') }}"
